<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Page</title>
</head>
<body>
<form action = "/result_page" method = "POST">
    <label for = "name"> name: </label>
    <input type = "text" id = "name" name = "name" required = "true"> <br><br>

    <label for = "age"> age: </label>
    <input type = "text" id = "age" name = "age" required = "true"> <br><br>

    <label for = "email"> email: </label>
    <input type = "email" id = "email" name = "email" required = "true"> <br><br>

    <label for = "city"> city: </label>
    <input type = "text" id = "city" name = "city" required = "true"> <br><br>

    <button type = "submit"> Login </button>
</form>

</body>
</html>