<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Screen</title>
</head>
<body>
<form action = "/order_details" method= "POST">
    <label for = "product"> Product: </label>
    <input type = "text" id = "product" name = "product" required = "true"> <br><br>

    <label for = "quantity"> Quantity: </label>
    <input type = "text" id = "quantity" name = "quantity" required = "true"> <br><br>

    <button type = 'submit'>Proceed to shipping</button>

</form>

</body>
</html>