<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Marks</title>
</head>
<body>
    <form action="http://localhost:5000/result" method="POST">
        Name: <input type="text" name="name"><br>
        Physics: <input type="text" name="phy"><br>
        Chemistry: <input type="text" name="chem"><br>
        Mathematics: <input type="text" name="maths"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>