<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add data to csv</title>
</head>
<body>

<form action = "/add_data" method = "POST">

  <label for = "name">Name: </label>
  <input type= "Text" id = "name" name = "name" required = true><br><br>

  <label for = "age">Age: </label>
  <input type= "Text" id = "age" name = "age" required = true><br><br>

  <label for = "contact_number">Contact Number: </label>
  <input type= "Text" id = "contact_number" name = "contact_number" required = true><br><br>

  <button type = "submit">Submit data</button>

</form>

</body>
</html>